@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to top, #F0A871, #D97F5B)
}

main{
    background-color: white;
    width: 600px;/*Largura externa do meu bloco main*/
    padding: 10px;/*Largura interna*/
    margin:auto; /*para o bloco ficar no meio independente do tamanho da tela da tela*/
    border-radius: 15px;/*bordas arredondadas do main*/
    box-shadow: 5px 5px 15px #502f229a;/*sombreamento = lado, baixo, espalhamento e cor*/
}

h1{
    color: #d97f5bd2;
    text-align: center;
    text-shadow: 1px 1px 3px #70412fd7;/*sombra no texto*/
}

h2{
    color:#D9A45B;
}

p {
    text-align: justify; /*Deixar todo os parágrafos justificados*/
}